*{
    margin: 0px;
    padding: 0px;
    border: none;
}
.wrapper{
    width: 610px;
    height: 800px;
    box-shadow: 0 0 20px grey;
    margin: 30px auto;
    position: relative;
    padding-right: 10px;
    box-sizing: border-box;
    overflow: hidden;

}
.menu{
    width: 265px;
    height: 100%;
    background-image: linear-gradient(0, #A7A926,#A7A926 );
}
.content{
    width: calc(100% - 265px - 10px);
    height: calc(100% - 177px);
    position: absolute;
    bottom: 0;
    right: 10px;
    padding-left: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    overflow: hidden;

}
.menu__title{
    width: 190px;
    height: 175px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    color: #ffffff;
}
.menu__title--h1{
    font-size: 80px;
    font-family: 'Rubik Iso', cursive;
}
.menu__title--h3{
    font-size: 30px;
    font-weight: 700;
font-family: 'Anton', sans-serif;
}
/* CSS Menu main */
.menu__main{
    font-size: 16px;
    padding-left: 10px;
    font-size: 20px;
    box-sizing: border-box;
}
.menu__main--title{
    width: 220px;
    color: #33807B;
}
.menu .right-long {
    display: inline-block;
    margin: 10px 0px;
    margin-right: 5px;
}
.menu .right-long i{
    color: #33807B;
}
.right-to-text{
    /* display: inline-block; */
    font-size: 18px;
    font-weight: 800;
    color: #ffffff;
}
.menu__main__box{
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin-left: 30px;
    box-sizing: border-box;
}
.menu__main__text--span{
    width: 80%;
    display: inline-block;
    margin-left: 5px;
}
.menu__main__text{
    display: flex;
    align-items: flex-start;
}

.menu__main span, i{
    color: #ffffff;
}
.menu__main span{
    display: inline-block;
    margin: 2px 0px;
    text-decoration: underline;
}

.logo__item{
    text-align: center;
    width: 90px;
    height: 20px;
    border: 2px solid #98c077;
    background-color: #909218b8;
    margin-right: 20px;

}
.logo__item--box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo__item--left{
    text-align: right;
    font-size: 12px;
    width: 45%;
    height: 80%;
    background-color: #ffffffac;
    border: 1px solid #ffffff;
    padding: 0px 5px ;
    box-sizing: border-box;
}
.logo__item--left span{
    font-weight: bold;
    color: #333;
}
.logo__item--right{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.logo__item--right span{
    font-weight: bold;
    color: #333;
    text-decoration: none;

}

.logo__item__text--bottom{
    font-size: 8px;
    color: grey;
    word-spacing: 5px;
}

.logo__item--box{
    height: 100%;
    width: 90%;
}

.logo{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__main--title--subscribe{
    width: 100px;
}

.meunu__footer{
    padding-left: 10px;
    box-sizing: border-box;
    width: 100%;
}
.menu__footer__form{
    color: #ffffff;
    width: 70%;
    height: 80%;
    margin-top: 15px;
    margin-left: 40px;
}
.menu__footer__form label{
    font-weight: 800;
}
.menu__footer__form button{
    width: 100px;
    margin-top: 2px;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
}
.menu__footer__form button span{
    font-weight: 800;
}
.menu__footer__form input{
    height: 25px;
}

.footer-text{
    position: absolute;
    bottom: -5px;
    left: 20px;
}
.footer-text p{
    color: #33807B; 
    font-weight: 900;
    font-size: 20px;
}




/* CSS for Baner */
.baner{
    width: 416px;
    height: 177px;
    position: absolute;
    right: 10px;
    top: 0;
    background-color: #33807B;
    border-left: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.banner__green{
    width: 355px;
    height: 150px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: linear-gradient(0, #A7A926,#A7A926);
    z-index: 0;
}
.footer{
    font-size: 15px;
    color: #ffffff;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 25px;
    padding: 5px 8px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.footer span:last-child{
    margin-right: 0px;
    font-size: 12px;
    opacity: 0.6;
}
.baner__h3{
    font-weight: 900;
    color: #ffffff;
    margin-top: 18%;
    margin-left: -25px;
}
.baner .image{
    width: 70px;
    height: 70px;
    transform: rotate(120deg);
    position: absolute;
    background-color: #33807B;
    border: 5px solid #ffffff;
    top: -10px;
    left: -25px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baner .image img{
    width: 80%;
}
.box-content{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(90deg, #221E1F, #4D4B4C );
    background-repeat: repeat;
    background-size: cover;
    /* CSS Flex */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.box{
    margin: 0px 20px;
    width: 90px;
    height: 40px;
    background-color: #33807B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 800;
}
.box:last-child{
    bottom: 0;
    right: -40px;
    position: relative;
    margin-left: -20px;
}
.subscribe{
    width: 200px;
    height: 60px;
    transform: rotate(-15deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 19px;
    left: -77px;
}
.subscribe p{
    color: #ffffff;
    font-family: 'Playfair Display', serif;

}
/* CSS content */
.content__h2{
    font-size: 32px;
    color:#33807B;
    font-weight: 800;
}
.content__left__h3{
    width: 150px;
    font-size: 25px;
    color: #A7A926;
}
.content__right{
    width: 100px;
    height: 200px;
}
.content__right iframe{
    height: 100%;
}
.content__left{
    width: 55%;
    display: inline-block;
    margin-left: 5px;
}
.content__left p{
    text-indent: 20px;
}

.content__box{
    margin-top: 10px;
    width: 100%;
    display: flex;
}

.dangky a{
    color: lightseagreen;
    text-decoration: none;
}
.content__text{
    margin-left: 5px;
}

.content__bottom{
    color: #A7A926; 
    font-size: 20px;
    margin-top: 20px;
}


/* CSS for Wrapper footer */
.wrapper__footer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 380px;
    height: 70px;
    display: flex;
    padding-right: 10px;
    box-sizing: border-box;
}
.wrapper__footer--item{
    border-left: 6px solid #33807B;
    border-top: 6px solid #33807B;
    background-color: #231F20;
    overflow: hidden;
}
.wrapper__footer--item--left{
    width: 240px;
    height: 100%;
    margin-right: 20px;
    border-right: 6px solid #33807B;

}
.wrapper__footer--item__h3{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 15px;
    color: #33807B;
}
.wrapper__footer--item__p{
    font-weight: 800;
    font-size: 22px;
    color: #A7A926;
    margin-left: 45px;
}

.wrapper__footer--item--right{
    width: 116px;
    height: 100%;
    position: relative;
    z-index: 1;
}

.wrapper__footer--item--right--h3--top{
    font-weight: 900;
    font-size: 40px;
    color: #393637;
    margin-top: -15px;
    margin-left: -10px;
}
.wrapper__footer--item--right--p{
    font-size: 20px;
    color: #393637;
    font-weight: 700;
    margin-top: -9px;
}
.wrapper__footer--item--right--h3--bottom{
    color: #A7A926;
    font-size: 30px;
    position: absolute;
    right: 0;
    bottom: -8px;
    transform: rotate(-10deg);
    z-index: 5;
}



