*{
    margin: 0px;
    padding: 0px;
    border: none;
}
.main{
    width: 820px;
    height: 600px;
    box-shadow: 0px 0px 20px grey;
    border: 1px solid grey;
    margin: 30px auto;
    box-sizing: border-box;
}
.container{
    width: 730px;
    height: 100%;
    margin: auto;
    border: 2px solid black;
    position: relative;
    box-sizing: border-box;
}
.main-games{
    position: absolute;
    top: 8px;
    bottom: 40px;
    left: 8px;
    width: 240px;
    background-image: linear-gradient(0, #E1E1E1, #FFFFFF);
    border: 0.5px dashed grey;
}
.main-games__img{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 440px;
}
.main-games__title{
    font-size: 30px;
    font-weight: 1200;
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
}
.title:first-child{
    color: #6A6A6A;
}
.title:last-child{
    color: #B4B4B4;
}
.main-games__games{
    margin: auto;
    border: 1px solid #AC9D98;
    color: #d5544b;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 155px;
    font-weight: 500;
    width: 90%;
}
.main-games__games td{
    border: 2px solid grey;
}
.main-games__games tr:last-child td {
    text-align: right;
    padding-right: 10px;
}
.main-games__games tr:last-child a{
    color: #d5544b;
}

.current{
    font-family: 'Babylonica', cursive;
    position: absolute;
    bottom: 255px;
    left: 10px;
    font-size: 45px;
    color: #d5544b;
    line-height: 60px;
}
.footer{
    left: 0px;
    bottom: 0;
    height: 16px;
    width: 70%;
    position: absolute;
    background-color: #616161;
}
.header{
    right: 0px;
    top: 0;
    height: 16px;
    width: 64%;
    position: absolute;
    background-color: #616161;
}


.content{
    position: absolute;
    right: 0;
    width: calc(100% - 261px);
    top: 20px;
    height: 85%;
}
.navbar__p{
    background-color: #275C97;
    margin-top: 6px;
    color: #ffffff;
    padding: 5px 15px;
    display: inline-block;
    box-shadow: 0px 5px grey;
    border: 1px solid #ffffff;
    font-weight: 800;
}
.content-table{
    margin-top: 10px;
    /* border: 1px solid #888; */
}
.content-table th a{
    color: #ffffff;
    text-decoration: none;
    cursor: text;
}
.content-table{
    border-collapse: collapse;
    /* border: 1px solid grey; */
}
.content-table td, 
.content-table th{
    padding: 2px 2px;
    border: 1px solid grey;
}
.content-table td a{
    color: #2C73C5;
}
.content-table th{
    text-align: left;
    background-color: #003399;
}
.main .content-table tr:last-child td{
    border: 1px solid grey;
    background-color: #99CCCC;
}
.copyright{
    font-size: 12px;
    color: #888;
    position: absolute;
    bottom: 8px;
    right: 10px;
}



